*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p{
    font-size: 1.6rem;
}
body{
    background-image: url("/images/redLove_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 1.9rem;
}
.logo{
    color: azure;
    text-shadow:2px 2px rgb(146, 130, 130);
}
.write{
    color:black
}
.logo:hover{
    color: black;
    text-shadow:2px 2px rgb(146, 130, 130);
}
.write:hover{
    color: azure;
}

button{
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 3px 3px black;
}
button:hover{
    color: azure;
    background-color: black;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 20em;  
    flex-direction: column;
}
.main_btn{
    width: 30%;
    box-shadow: 3px 2px #901632;
    margin: 0 auto;
    font-weight: bold;
    background-color: #0078d7;
    color:black;
}
#typing_effect{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1rem;
    color: #901632;
}

.center{
  box-sizing: border-box;
  outline: none;
}

.my_modal{
  position:absolute;
  background-color:rgba(244, 247, 247, 0.986);
  box-shadow: 3px 3px rgb(245, 226, 226);
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  height: 50vh;
  width: 50vw;
}

.modal_header{
  display:flex;
  justify-content: space-between;
  margin:  2rem;
}
.modal_body{
  display: flex;
  flex-direction: column;
  height: 2rem;
}

.data{
  margin:  2rem;
  border-style: 1rem solid #901632 ;
  display: flex;
  flex-direction: column;
}

input[type=text]{
    border:none;
    border-bottom: 0.1rem solid #901632;
    padding: 9px 20px;
    background-color: azure;
}
textarea[name=text]{
    border:none;
    border-bottom: 0.1rem solid #901632;
    padding: 9px 20px;
    background-color: azure;
}
.note_btn{
   display: flex;
   justify-content: center;
   position: relative;
}

.note_btn button{
  display: flex;
  padding: .4rem;
  position:absolute;
  box-shadow: 2px 3px azure;
  margin:  0.7rem;
  background-color: black;
  color: azure;
 }

 .note_btn button:hover{
    color: black;
    background-color: azure;
   }




